/*
div{
	background-color:whitesmoke;
	text-align: center;
	width: 100%;
}

input{
	width: 70%;
	box-sizing:border-box;
	background-color:whitesmoke;


}*/
kt-document-stat-fyp-list{
	background-color: whitesmoke;
	text-align: center;
	width: 100%;
	justify-content: center;
}
