Flask==1.0.3
flask-mysql
pymongo==3.8.0
mongoengine==0.18.2
redis==3.2.1
rq-dashboard==0.5.1
rq==1.1.0
supervisor==4.0.3
fuzzywuzzy
allennlp
tensorflow-hub
seaborn
gunicorn==19.9.0
Click
tika
flask-cors
docutils==0.15.2
h5py==2.10.0
Keras==2.3.1
matplotlib==3.2.1
nltk==3.4.5
numpy==1.18.2
pandas==1.0.3
scikit-learn==0.22.2.post1
scipy==1.4.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
textstat==0.6.0
torch==1.4.0
tqdm==4.45.0
transformers==2.1.1
language-check
